.wallpaper
{
    background: transparent;
    background-size: cover;
    width: 100%;
    border-radius: 12%;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

h1{
    color: blanchedalmond;
}


.navbar{ background-color: black;
    background: transparent;

}
*
{
    margin: 0;
    padding: 0;
}
#Instructions
{
    padding-bottom: 3.4rem;
}
.container{
    margin: auto;
    height: auto;
    width: auto;
    text-shadow: 2px 2px 4px #000000;
    background: transparent;
    
    
}
.wprm-nutrition-label-container wprm-nutrition-label-container-label {
    border: 2px solid #000;
}

P{
    font-family: 'Sriracha', cursive;
    font-size: small;  
    text-align: left;
}
h5{
    text-align: center;
    font-size: x-large;
    text-shadow: 2px 2px 4px #000000;
    font-family:'Sriracha', cursive;
}
h2{
    text-align: center;
    font-size: 25px;
    font-family: 'Sriracha', cursive; 
}

table{
    text-decoration: cornsilk;    
    width: auto;
    height: auto;
    background-color:transparent;
    border: transparent; 
    text-shadow: 2px 2px 4px #000000;
} 
th{ text-decoration: cornsilk;    
    width: auto;
    height: auto;
    background-color:transparent;
    border: transparent; 
    text-shadow: 2px 2px 4px #000000;} 
td {
    text-decoration: cornsilk;    
    width: auto;
    height: auto;
    background-color:transparent;
    border: transparent; 
    text-shadow: 2px 2px 4px #000000;
}

.text-color{
    color: whitesmoke !important;
}
body 
{
    background-color:whitesmoke;
    background-image: url(Images/bol.webp),linear-gradient(to right,#a1d3b0, #f6f1d3);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:rgb(250, 248, 252);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px #000000;
  }

@media screen and (min-width: 480px) {
  #leftsidebar {width: 500px; float: left;}
  #main {margin-left: 216px;}

}